<div
  class="flex justify-between gap-10 py-5 px-6 cursor-pointer hover:bg-gray-100 relative border-b border-gray-200"
>
  <div
    class="border-l-4 pl-4"
    [class]="{
      'border-gray-200': todo.status === 'OPEN',
      'border-blue-100': todo.status === 'PROGRESS',
      'border-red-200': todo.status === 'TESTING',
      'border-green-200': todo.status === 'DONE'
    }"
  >
    <h4 class="font-bold">{{ todo.title }}</h4>
    <p class="text-gray-400 h-6 overflow-y-hidden">{{ todo.description }}</p>
  </div>
  <div>
    <div
      class="border text-xs font-medium p-1 px-2 rounded-full"
      [class]="{
        'bg-gray-100': type === 'OPEN',
        'border-gray-500': type === 'OPEN',
        'text-gray-600': type === 'OPEN',

        'bg-blue-100': type === 'PROGRESS',
        'border-blue-500': type === 'PROGRESS',
        'text-blue-600': type === 'PROGRESS',

        'bg-red-100': type === 'TESTING',
        'border-red-500': type === 'TESTING',
        'text-red-600': type === 'TESTING',

        'bg-green-100': type === 'DONE',
        'border-green-500': type === 'DONE',
        'text-green-600': type === 'DONE'
      }"
    >
      {{ type }}
    </div>
  </div>
</div>
